@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
body{
    background-color: #000000;
    background-repeat: no-repeat;
    font-family: 'Inconsolata', monospace;
   }
.yomero{ 
    align-items: center;
    justify-content: center;
    font-family: 'Inconsolata', monospace;;
    font-size: 150px;
    color: white;
    background-color: black;
    padding: 10px
    }
    

.layout {
    border-radius: 75px 75px 75px 75px;
    background-color: rgba(157, 157, 157, 0.178); 
    padding: 25px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

.yo{
    background-color: #070707;
    display: flexbox;
    align-items: center;
    justify-content: center;
    font-family: 'Inconsolata', monospace;;
    font-size: 25px;
    color: white;
    padding: 10px
}

.foto{
    background-color: #070707;
    display: flexbox;
    align-items: center;
    justify-content: center;
    
}
.YE{
    background-color: #070707;
    display: flexbox;
    align-items: center;
    justify-content: center;   
}

.gustos{
    background-color: #070707;
    display: flexbox;
    align-items: center;
    justify-content: center;
    font-family: 'Inconsolata', monospace;;
    font-size: 25px;
    color: white;  
    padding: 10px
}

.hab{
    background-color: #070707;
    display: flexbox;
    align-items: center;
    justify-content: center;
    font-family: 'Inconsolata', monospace;;
    font-size: 25px;
    color: white;
    padding: 10px
}
.rb{
    background-color: #070707;
    display: flexbox;
    align-items: center;
    justify-content: center;    
}

.linea{
    border-top: 5px solid #ffffff;
    margin-bottom: 40px;
  }

  .nav-link
{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    
}

.nav-link:hover
{
    color: rgb(147, 117, 150)
}
.text
{
    align-items: center;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
    font-size: 100px;
    color: white;
    background-color: black;  
}

.deff
{
    text-align: justify;
    align-items: center;
    justify-content: center;
    border-radius: 75px 75px 75px 75px;
    font-family: 'Inconsolata', monospace;
    font-size: 21px;
    color: white;
    background-color: rgba(157, 157, 157, 0.126);  
    padding: 25px
    
}

.tit
{
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 75px 75px 75px 75px;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: white;
    background-color: rgba(157, 157, 157, 0.126);  
    padding: 10px 
}

.marcianito
{
    align-items: center;
    justify-content: center;
}

.imagen
{
    border-radius: 20px 20px 20px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;

}